<!DOCTYPE html>
{% extends 'newsapp/base.html' %}

{% load static %}
<html lang="en">

{% block title %}{{ entry.title }}{% endblock %}

<head>
<body>
<script>
var d = new Date();
document.getElementById("header").innerHTML = d;
</script>
</body>
<!--<link rel="icon" href="{% static 'gk_app/bodhi_logo.png'%}" type="image/gif" sizes="16x16">-->
 <style>


  }

</style>
<a href ="/CreateBlog/">New Blog</a>s
{% block breadcrumb %}
    <li  class="breadcrumb-item active"> <h3></h3></li>
{% endblock %}

{% block content %}
<a href="{% url 'news:home' %}">English</a>
    <body>

<!--     <div class="col s3 simple" style="margin-left: px;padding-left:px;width: 26.66667%;">-->
<!--         <div class="panel-title" style="max_width:100%;font-size:18px;color: inherit;background-color: black;font-family: 'Raleway', sans-serif;color: #fff;padding:10px ;  position: sticky; top: -10px;">Date Wise Current Affair</div>-->
<!--         <div class="  " style="box-sizing: border-box;overflow-y: auto;max-height:400px;padding:10px; box-shadow: 1px 1px 1px 1px gray ; position: relative; ">-->



<!--     {% for category in categories %}-->

<!--      <div class="scrollbox" style="padding:10px; padding: 10px ; color: black ; border-bottom: solid #c5c0c0 1px;"> <a  class="scrollbox-content" style="padding-bottom:10px; margin-bottom: 5px ; text-decoration:none ; color:black;" href="{% url 'gk_app:category_topics' category.pk %}">{{category.name }} </a></div>-->

<!--      {% endfor %}-->

<!--</div>-->
<!--<br><br>-->
<!--              <div class="panel-title" style="max_width:100%;font-size:16px;color: inherit;background-color: #000000;font-family: 'Raleway', sans-serif;color: #fff;padding:10px ; margin-bottom: -8px ;  position: sticky; top: -10px;">Category Wise Current Affair</div>-->
<!--  <div class="  "style="box-sizing: border-box;overflow-y: auto;max-height:400px;padding:10px; box-shadow: 1px 1px 1px 1px gray ; position: relative; ">-->
<!--&lt;!&ndash;     <div class="panel-title" style="max_width:100%;font-size:16px;color: inherit;background-color: #000000;font-family: 'Raleway', sans-serif;color: #fff;padding:10px ; margin-bottom: -8px ;  position: sticky; top: -10px;">Category Wise Current Affair</div>&ndash;&gt;-->

<!--</br>-->

<!--     {% for c in GK_categories %}-->

<!--      <div class=" scrollbox  " style="padding:10px; padding: 10px ; color: black ; border-bottom: solid #c5c0c0 1px;">  <a  class="scrollbox-content" style="padding-bottom:10px; margin-bottom: 5px ; text-decoration:none ; color:black;" href="{% url 'gk_app:category_topics2' c.pk %}">{{c.name }} </a></div>-->
<!--        <small class="text-muted d-block">{{category.description }}  </small>-->

<!--      {% endfor %}-->

<!--    </div>-->

<!--    </div>-->
<!--</body>-->









 {% for e in entry %}

    <div class="card mb-2  border-dark" style="margin-top:25px;width: 100%;min-width: 350px;">
        <div class="  py-2 px-3 header" style="background-color:black" ><img src="{% static 'newsapp/bodhi_logo.png'%}" style="width:25px ; height:25px;border-radius: 100%;"alt="Avatar" ;> {{e.date}}
        </div>

        <div class="text">
        <div style= " border-radius: 50%;padding-left: 15%;">

            </div>

            <div style="padding:10 25 0 25;color: #d63c24;font-size: 20px;line-height: normal;outline: medium none;text-decoration: none;">
                {{ e.title_hindi}}:
            </div>
            <div style="font-size:16; padding:5 25 0 25">
             <p>{{ e.hindi_news|safe }}</p>

            </p>
</div>

    </div>
    </div>


  {% endfor %}


{% endblock %}




</html>