{% load staticfiles %}
{% load static %}
<html>
  <head>
          <link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
    <script tinymce.init({ selector:'textarea' });</script>
      <script type="text/javascript" async
         src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
      </script>

    <link rel='stylesheet' href="{%static 'blog/img/css/app.css'%}">
    <link rel='stylesheet' href="{%static 'blog/tinymce/css/prism.css' %}">
    <link rel='stylesheet' href="{%static 'blog/tinymce/css/tinymce4.css' %}">


    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>


  </head>

  <body>
    {% block body %}

      <nav class="navbar navbar-expand-sm navbar-dark orange">
        <div class="container" style="font-size:20">
           <a class="" href="{% url 'videoapp:home' %}">Home</a>
           <span style="font-size:30px;cursor:pointer ;float:right" onclick="openNav()">☰ Latest Blog</span>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" id="mainMenu">
            {% if user.is_authenticated %}
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <!--     {{ user.username }} -->
                  </a>
                  </div>
                </li>
              </ul>
            {% else %}
             {% endif %}
          </div>
        </div>
      </nav>

      <div class="container">
        <ol class="breadcrumb my-4">
          {% block breadcrumb %}
          {% endblock %}
        </ol>
        {% block content %}
        {% endblock %}
      </div>
    {% endblock body %}


<div id="fixed-social">
  <div>
    <a href="http://www.facebook.com/sharer/sharer.php?u=http://13.234.37.98/blog/" class="fixed-facebook" target="_blank"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
  </div>
  <div>
    <a href="http://www.twitter.com/login/?url=http://www.bodhiai.in/membership/register/{{ request.get_full_path|urlencode }}" class="fixed-twitter" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
  </div>
  <div>
    <a href="http://bodhiaireact.s3-website.ap-south-1.amazonaws.com/#/" class="fixed-gplus" target="_blank"><i class="fa fa-google"></i> <span>Google+</span></a>
  </div>
  <div>
    <a href="http://www.linkedin.com/shareArticle?url=http://www.bodhiai.in/membership/register/{{ request.get_full_path|urlencode }}&title=<Favourate Blog>&summary=<Blog>&source=www.bodhiai.in" class="fixed-linkedin" target="_blank"><i class="fa fa-linkedin"></i> <span>LinkedIn</span></a>
  </div>
  <div>
    <a href="#" class="fixed-instagrem" target="_blank"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
  </div>

</div>


</body>
</html>
