{% extends 'jobs/base.html' %}

{% load static %}

{% block title %}{{ topic.subject }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'jobs:home' %}">Jobs</a></li>
  <li class="breadcrumb-item"><a href="{% url 'jobs:category_topics' topic.category.pk %}">{{ topic.category.name }}</a></li>
  <li class="breadcrumb-item active">{{ topic.subject }}</li>
{% endblock %}

{% block content %}

  <div class="mb-4">
  </div>

  {% for post in topic.posts9.all %}


    <div class="card mb-2 {% if forloop.first   %}border-dark{% endif %}">
        <div style="max_width:100%;font-size:16px;color: inherit;background-color:#000000;font-family: 'Raleway', sans-serif;color: #fff;padding:10px ; margin-bottom: -8px ;class="card-header text-white py-2 px-3">{{ post.topic }}</div>

     <div style="padding:15 25 15 25;color: #d63c24;font-size: 20px;line-height: normal;outline: medium none;text-decoration: none;">
         {{ post.title}}:
            </div>
            <div style="font-size:16; padding:5 25 0 25">
             <p>{{ post.jobs_details|safe}}</p>
            </p>

          </div>
  {% endfor %}
<br>
{% endblock %}
